.profile-tabs{
    padding: 20px;
    text-align: center
}

.tabs-nav{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;
}

.tabs-nav button{
    padding: 10px 15px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s;
}

.tabs-nav button.active{
    background: #1565c0;
    color:white;
}

.tab-content{
    margin-top: 10px;
}